<html ng-app='MyApp'>
  <head>
    <title>
      URI Converter
    </title>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js' type='text/javascript'></script>
    <link href='http://netdna.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css' rel='stylesheet'>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <script language='javascript'>
      var app = angular.module("MyApp", ["ui.bootstrap", "ngAnimate"]);
      <!-- / http://moonglows76.tumblr.com/post/98848084043/angularjs-1-2-1-3 -->
      angular.module("ng").config(function($controllerProvider){ $controllerProvider.allowGlobals(); });
    </script>
  </head>
  <body>
    <style>
      .animate-height.ng-enter,
      .animate-height.ng-leave,
      .animate-height.ng-move {
        -webkit-transition: max-height 0.5s;
        max-height: 0px;
        overflow: hidden;
      }
      
      .animate-height.ng-enter {
        max-height: 0px;
      }
      .animate-height.ng-enter.ng-enter-active {
        max-height: 300px;
      }
      .animate-height.ng-leave {
        max-height: 300px;
      }
      .animate-height.ng-leave.ng-leave-active {
        max-height: 0px;
      }
    </style>
    <script>
      // http://stackoverflow.com/questions/14995884/select-text-on-input-focus
      app.directive('ncOnClickSelect', function() {
          return function (scope, element, attrs) {
            element.on('click', function () {
              this.select();
          });
        };
      });
      
      // var URLConverterCtrl = function ($scope) {
      app.controller("URLConverterCtrl", function ($scope) {
        function uri_escape(uri) {
            return escape(uri);
        }
        $scope.uri_escape = uri_escape;
      
        function uri_encodeURIComponent(uri){
          return encodeURIComponent(uri);
        }
        $scope.uri_encodeURIComponent = uri_encodeURIComponent;
      
        function uri_encodeURI(uri){
          return encodeURI(uri);
        }
        $scope.uri_encodeURI = uri_encodeURI;
      
        function uri_decodeURI(uri){
          return decodeURI(uri);
        }
        $scope.uri_decodeURI = uri_decodeURI;
      
        function uri_decodeURIComponent(uri){
          return decodeURIComponent(uri);
        }
        $scope.uri_decodeURIComponent = uri_decodeURIComponent;
      
        $scope.source = "";
      });
    </script>
    <div id='header'>
      <div class='bs-docs-header' id='content'>
        <div class='container'>
          <h1>
            <div class='title'>
              URI Converter (encode/decode)
            </div>
          </h1>
        </div>
      </div>
    </div>
    <div class='container'>
      <br>
      <div ng-controller='URLConverterCtrl'>
        <div class='input-group'>
          <input class='form-control' nc-on-click-select='' ng-model='source' placeholder='Input convert URI.' type='text'>
        </div>
        <br>
        <div class='animate-height' ng-if="source != ''">
          escape :
          <pre>{{ uri_escape(source) }}</pre>
          <br>
          encodeURI :
          <pre>{{ uri_encodeURI(source) }}</pre>
          encodeURIComponent :
          <pre>{{ uri_encodeURIComponent(source) }}</pre>
          <br>
          decodeURI :
          <pre>{{ uri_decodeURI(source) }}</pre>
          decodeURIComponent :
          <pre>{{ uri_decodeURIComponent(source) }}</pre>
        </div>
      </div>
    </div>
  </body>
</html>
